<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
<label for="name">nombre de super heroe: </label>
<input id="name" [(ngModel)]="hero.name" placeholder="name"> 
</div>
<div>
<label for="edad">edad de super heroe: </label>
<input id="edad" [(ngModel)]="hero.edad" placeholder="edad"> 
</div>
<div>
<label for="superpoder">superpoder de super heroe: </label>
<input id="superpoder" [(ngModel)]="hero.superpoder" placeholder="superpoder"> 
</div>
<div>
<label for="identidad">identidad de super heroe: </label>
<input id="identidad" [(ngModel)]="hero.identidad" placeholder="identidad"> 
</div>
<div>
<label for="universo">universo de super heroe: </label>
<input id="universo" [(ngModel)]="hero.universo" placeholder="universo"> 
</div>